lstm -> (lstm,dense)
dense -> (end)
rangeLstm -> (2,1000)
rangeLayLstm -> (2,32)
optim -> (adam,adagrad,RMSprop,SGD,Adamax,Nadam)
loss -> (categorical_crossentropy,poisson,mean_squared_error)
activation -> (softmax)
ractivation -> (hard_sigmoid,softmax,relu,tanh)
batch -> (2,32)
window -> (11)
learningRate -> (0.001,0.1)
amsgrad -> (optim=adam)